

<div class="container h-100vh">
  <form [formGroup]="login" (ngSubmit)="logIn()">
    <!-- <div class="input-control mb-3"> -->
      <h3>Login Here</h3>
      <div class="form-group">
        <input type="name" id="login-name" class="login-form" placeholder="Name" formControlName="name"> 
        <div>
          <Span style="color:red;" *ngIf="name && name.invalid && name.touched">Name is required</Span>
        </div>
      </div>
        <div class="form-group">
        <input type="email" id="login-email" class="login-form" placeholder="Email"formControlName="email" > 
      </div>
      <Span style="color:red;" *ngIf="email && email.invalid && email.touched">Email is required</Span>

      <small class="">Don't have an Account? 
        <a class="link" (click)="Register()">Register Here</a>
    </small>

      <div class="click mt-4">
        <button [disabled]="login.invalid" class="button-subimt">Submit</button>
    </div>

  </form>
    
</div>