<div class="conatiner">
    <div class="signup">
      <form class="signup-control  ">
        <div class="input-control mb-3">
            <input type="name" id="signup-name" class="signup-form"  pattern="^[a-zA-Z]$"placeholder="Name"> 
          </div>
          <div class="input-control mb-3">
            <input type="email" id="signup-email" class="signup-form"  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"placeholder="Email"> 
          </div>
          <div class="input-control mb-3">
            <input type="mobileno" id="signup-mobileno" class="signup-form"  pattern="^[6789][0-9]{9}$"placeholder="Mobile"> 
          </div>
          <div class="input-control mb-3">
            <input type="createpass" id="signup-createpass" class="signup-form" placeholder="createpassword">
          </div>
          <div class="input-control ">
            <input type="confirmpass" id="signup-confirmpass" class="signup-form" placeholder="confirmpassword">
          </div>
          <div class="click mt-4">
            <button type="submit" class="button-subimt"(click)="submit()">Submit</button>
        </div>
  
      </form>
    </div>
  </div>