/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* height: 100%;
    width: 100%; */
}
html,body, app-root{
    /* min-height: 100vh; */
     min-height: 100vh !important;
     width: 100% !important;
     margin:0;
}
body{

}
